<section class = "tweets">
<h1 class="title-tweet">Home</h1>

<%= link_to "New tweet", new_tweet_path, class: "new-tweet" %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>
</section>