@import url("./layouts/typography.css");
@import url("./layouts/colors.css");
@import url("./pages/footer.css");
@import url("./pages/header.css");
@import url("./pages/tweets.css");
@import url("./layouts/shadows.css");
@import url("./pages/users.css");

* {
    margin: 0;
    padding: 0;
}

.form-new_session {
    box-sizing: border-box;
    background-color: var(--white);
    padding: 24px 16px;
    gap: 16px;
    width: 328px;
    height: 428px;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form-button {
    background: var(--primary-300);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 36px;
    color: white;
    border: none;
    padding: 8px, 16px;
    gap: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
    text-decoration: none;
    margin: auto;
}

.body {
    background-color: var(--gray-100);
}

.auxiliar-text {
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 155px;
    height: 20px;
    color: var(--gray-400);
}

.link {
    color: var(--primary-500);
    text-decoration: none;
    width: 131px;
    height: 24px;
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}